{%extends "layout.html"%}

{%block body%}
<body>
    <div >
    <form method="POST" action="">
        {{form.hidden_tag()}}

        <div class="form-group">
            {{form.email.label}}
            {{form.email(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control")}}
        </div>        
        <div class="form-group">
            {{form.submit_button(class="btn btn-lg btn-secondary m-2")}}
        </div>   


    </form>
 </div>
</body>
{%endblock%}