{%extends "layout.html"%}


{% block script %}
 
    <script>
      
      let seconds=20
      function timer(){
          if(seconds>0){
            seconds -- 
            document.getElementById('clock').innerHTML= seconds
            
            delayer()
          }
          else if(seconds == 0){
            window. location. replace("/timed_out")
            
          }     
      }
      
      function delayer(){
      delay = setTimeout('timer()',1000)
      }

      function manage(content) {
        var bt = document.getElementById('btSubmit');
        if (content.value != '') {
            bt.disabled = false;
        }
        else {
            bt.disabled = true;
        }
    }
    $(document).ready(function(){
      console.log("ready!")
      $("#messenger").fadeOut(5000)
    })
      </script>
{% endblock %}

{%block body%}
<main role="main" style="height: 420px;" >
    <h1 class="cover-heading">Enter the number which corresponds to sefira below:</h1>

        <div class="form">
             
          <h5>Your Score: {{score}}</h5>
          
          <form id="myForm" action="/" method="POST">
              <P> <h3 class="text-primary">{{day}}</h3></P>
              <input class="form-control text-center font-weight-bold" 
              placeholder="Please enter the number here" type="text" onkeyup="manage(this)" name="input_field" id="content" autofocus>
              <input class="btn btn-lg btn-secondary m-2" id='btSubmit' type="submit" value="Try It" disabled>
          </form>
      
          <h3 class="text-center position-static">Seconds left:</span> <span id="clock" > </h3>
          <div id="messenger">
              <P>   
              {%if n == "Try again!" %} 
                  <h3   class="text-warning">{{n}}</h3>
              {%elif n == "Timed Out... Next!"%}
                  <h3  class="text-danger">{{n}}</h3>
              {%else%}
                  <h3  class="text-success">{{n}}</h3>
              {%endif%}
            </P>
          </div>
        </div>
    </main> 

  {%endblock%}