{%extends "layout.html"%}

{%block body%}
<body>
    <div>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.username.label}}
            {%if form.username.errors%}
                {{form.username(class="form-control")}}
                <div class="invalid-feedback">
                    {%for error in form.username.errors%}
                    <span>{{error}}</span>
                    {%endfor%}
            {%else%}
                {{form.username(class="form-control")}}
            {%endif%}
            
        </div>
        <div class="form-group">
            {{form.email.label}}
            {%if form.email.errors%}
                {{form.email(class="form-control")}}
                <div class="invalid-feedback">
                    {%for error in form.email.errors%}
                    <span>{{error}}</span>
                    {%endfor%}
            {%else%}
                {{form.email(class="form-control")}}
            {%endif%}
           
        </div>
        <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.confirm_password.label}}
            {{form.confirm_password(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.submit_button(class="btn btn-lg btn-secondary m-2")}}
        </div>   


    </form>
 </div>
</body>
{%endblock%}