{%extends "layout.html"%}
{%block body%}
<h1 m-2>{{current_user.username}}</h1>
<span m-2>email:  {{current_user.email}}</span>
<span m-2>password:  {{current_user.password}}</span>
<span m-2>Here is you score history:</span>
<table class= "table table-dark">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
{%for score in user.score%}
      <tr><td>{{score.time }}</td><td>{{score.score}}</td></tr> 
    {%endfor%}
    </tbody>
</table>
{%endblock%}